@import "tailwindcss";

@theme {
  /* 배경 진녹색 */
  --color-main-green: #39452d;
  --color-first-menu-dim: #d6b8ad;
  --color-first-menu-thick: #c29a8d;
  --color-second-menu-dim: #afd9d5;
  --color-second-menu-thick: #9ac7c1;
  --color-third-menu-dim: #d1dcbc;
  --color-third-menu-thick: #aec18e;
  --color-main-white: #fdfdfb;
  --color-main-beige :#E3E0CF;
  --color-new-bg:#E2E8C9;
  --color-main-beige: #e3e0cf;
  --color-main-beige2 :#E5E8E1;
  --color-sub-darkbeidge :#ECEEE9;
  --color-main-pink : #D6B8AD;
  --color-sub-darkgreen:#A4AA9E;

  /* 연한 녹색 */
  --color-custom-div: #e5e8e1;

  /* 강조 주황색 */
  --color-custom-bold-font: #ff9500;

  /* 검정에 가까운 녹색 */
  --color-custom-basic-font: #39452d;

  /* 검색창 바탕 베이지 */
  --color-custom-search: #e3e0cf;

  /* 채도 낮은 분홍색 */
  --color-custom-pink: #d6b8ad;
}
